
/* @media (max-width: 500px){
    body {
        font-size:0em;
    }
    .hidden--mobile {
        display: none !important;
    }

    nav {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    nav > i {
        padding: 1rem;
        font-size: 2em;
    }

    nav > ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 0;
    }

    nav > ul > li {
        padding: 0.5rem;
        list-style-type: none;
    }
} */

#jumbotron {
    background: url(assets/GJvector.jpg) center center no-repeat;  background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

/* #jumbotron > h2 {
    color: white;
    text-align: center; */
}

#jumbotron > a {
    text-decoration: none;
    background-color: gold;
    font-size: 1.5em;
    padding: 1.5rem;
    border-radius: 10px;
}

/* .firstbkgrdimage {
    /* margin-top: 0px; */
    /* background-image: url(assets/WelcomeImage.jpg); */
    /* background-repeat: no-repeat; */
    background-color:rgba(216, 11, 243, 0.975); */
    /* background-position-y: center; */
}

h1 {
    margin-bottom: 0px;
    color: gold;
    text-decoration-style: solid;
    font-size: 300px;
    font-family: 'Tangerine', serif;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    padding-top: 0px;
}
h2 {
    margin-bottom: 0px;
    font-size: 150px;
    font-family: 'Tangerine', serif;
    /* text-align; */
    padding-top: 0px;

}
.navBar {
    text-align: right;
    font-size: 50px;
    font-family: ;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 40px;
    margin: 0px 10px 0px 10px;
}
.footer {
    padding: 30px;
    list-style-type: none;
    text-align: center;
    color: black;
    font-size: 50px;
}
.bar {
    display: inline

}
a {
    color: black;
}
.about {
    font-size: 30px;
    font-family: bold impact;
}
.api {
    justify-content: flex-end;
}

